{% extends 'common/base.html' %}

{% block chart %}
<!--チャート-->
<div id="chart">
    <!--チャートに表示する期間の入力-->
    <div id="line-graph-input" class="row">
        <form id="line-graph-form" class="form-horizontal form-inline col-sm-10">
            {% csrf_token %}
            <div class="form-group col-sm-4">
                <label>from：<input type="date" id="date_from" class="form-control" name="date_from" required></label>

            </div>
            <div class="form-group col-sm-3">
                <label>to：<input type="date" id="date_to" class="form-control" name="date_to" required></label>

            </div>
            <div class="form-group col-sm-2">
                <label>間隔：
                    <select id="freq" class="form-control" name="granularity">
                        {% for freq in freq_options %}
                        <option>{{ freq }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="form-group col-sm-1">
                <select id="currency-pair" name="instrument">
                    {% for currency in currency_pair %}
                    <option>{{ currency }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <div class="col-sm-1" style="padding-left:50px">
            <button id="update-btn" class="btn btn-primary">実行</button>
        </div>

    </div>
    <canvas id="line-graph-canvas" class="chart-container" style=" width: 400px; height: 150px;"></canvas>
</div>


{%endblock%}
